<!DOCTYPE html>
<html>
    <head>
        <title>Backbone.Marionette Simple Layout Test</title>
        
        <script src="./assets/javascripts/vendor/jquery.js"></script>
        <script src="./assets/javascripts/vendor/jquery-ui-1.10.0.custom.js"></script>
        <script src="./assets/javascripts/vendor/jquery.layout.min.js"></script>
        <script src="./assets/javascripts/vendor/json2.js"></script>
        <script src="./assets/javascripts/vendor/underscore.js"></script>
        <script src="./assets/javascripts/vendor/backbone.js"></script>
        <script src="./assets/javascripts/vendor/backbone.marionette.min.js"></script>
        
        <link rel="stylesheet" href="./assets/css/jquery.layout-default.css" />
        <link rel="stylesheet" href="./assets/css/font-awesome.css" />

        <script src="./assets/javascripts/darts.tourneys.js"></script>
        <link rel="stylesheet" href="./assets/css/darts.tourneys.css" />
    </head>
    <body>
        <article id="main-content"></article>
        <footer></footer>
        <div id="modal-dialog"></div>

        <script type="text/javascript">
			$(document).ready(function(){
				DartsLeague.TourneysApp.addInitializer(function(options) {
                    // Fetch and set up the Tourney Collection
					DartsLeague.tourneyCollection = new DartsLeague.Collections.Tourneys();
					DartsLeague.tourneyCollection.fetch({async: false});
                    
                    DartsLeague.touneysRouter = new DartsLeague.Routers.TourneysRouter();
				});
				
				DartsLeague.TourneysApp.start();
			});
		</script>
        
    	<script type="text/template" id="tourney-manager-layout">
			<nav class="tourney-nav"></nav>
			<section id="tourney-manager-listing" class="middle-west">
			</section>
			<section id="tourney-manager-detail" class="middle-center">
			</section>
			<footer id="tourney-manager-status" class="middle-south">
			</footer>
		</script>
        
        <script type="text/template" id="tourney-listing-template">
            <a href="#tourney/<%= id %>" id="tourney<%=id %>"><%= title %></a>
        </script>
    		
		<script type="text/template" id="tourney-details-template">
			<hgroup>
				<h2><%= title %>: <%= location %></h2>
		   		<h3><%= starts %></h3>
			</hgroup>
			<%= description %>
		</script>

    </body>
</html>