<!DOCTYPE html>
<html>
    <head>
        <title>Backbone.Marionette Simple Layout Test</title>
        
        <script src="./assets/javascripts/vendor/jquery.js"></script>
        <script src="./assets/javascripts/vendor/jquery-ui-1.10.0.custom.js"></script>
        <script src="./assets/javascripts/vendor/jquery.layout.min.js"></script>
        <script src="./assets/javascripts/vendor/json2.js"></script>
        <script src="./assets/javascripts/vendor/underscore.js"></script>
        <script src="./assets/javascripts/vendor/backbone.js"></script>
        <script src="./assets/javascripts/vendor/backbone.marionette.min.js"></script>
        
        <link rel="stylesheet" href="./assets/css/jquery.layout-default.css" />
        <link rel="stylesheet" href="./assets/css/font-awesome.css" />

        <script src="./assets/javascripts/darts.tourneys.js"></script>
        <link rel="stylesheet" href="./assets/css/darts.tourneys.css" />
    </head>
    <body>
        <article id="main-content"></article>
        <footer></footer>
        <div id="modal-dialog"></div>

    	<script type="text/javascript">
			$(document).ready(function(){
				DartsLeague.TourneysApp.addInitializer(function(options) {
                    // Fetch and set up the Tourney Collection
					DartsLeague.tourneyCollection = new DartsLeague.Collections.Tourneys();
					DartsLeague.tourneyCollection.fetch();
                    
                    // Start the application's top-level regions
                    var tourneyManager = new DartsLeague.Views.TourneyManagerLayout();
                    DartsLeague.TourneysApp.appMain.show(tourneyManager);
                    
                    // Within that top-level region, show the listing of the tourneys
    				tourneyManager.tourneyListing.show(new DartsLeague.Views.TourneysListing({collection: DartsLeague.tourneyCollection}));
                    
                    // At this point, our main app is up and running, so we can set up our layout.
					$("#mainContent").layout({
						applyDefaultStyles:   true,
						center__paneSelector: ".outer-center",
						spacing__open:        8,
						spacing__closed:      12,
						center__childOptions: {
							center__paneSelector:  ".middle-center",
							east__paneSelector:    ".middle-east",
							west__paneSelector:    ".middle-west",
							north__paneSelector:    ".middle-north",
							south__paneSelector:    ".middle-south",
							west__size:    250,
							south__size:    25,
							spacing__open:        8,
							spacing__closed:        12,
						}
					});
                    
				});
				
				DartsLeague.TourneysApp.start();
			});
		</script>
        
    	<script type="text/template" id="tourney-manager-layout">
			<nav class="tourney-nav"></nav>
			<section id="tourney-manager-listing" class="middle-west">
			</section>
			<section id="tourney-manager-detail" class="middle-center">
			</section>
			<footer id="tourney-manager-status" class="middle-south">
			</footer>
		</script>
        
        <script type="text/template" id="tourney-listing-template">
            <a href="#" id="tourney<%=id %>"><%= title %></a>
        </script>
    		
		<script type="text/template" id="tourney-specific-details-template">
			<hgroup>
				<h2><%= title %>: <%= location %></h2>
		   		<h3><%= starts %></h3>
			</hgroup>
			<%= description %>
		</script>

    </body>
</html>